body {
    background-image: url('Imagens/Texture.png'); 
    background-repeat: repeat; 
    background-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
main {
    border-radius: 20px;
    max-width: 1200px;
    max-height: 800px;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e7ddd3;
    padding: 10px;
    box-shadow: 10px 10px 20px black;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border-radius: 15px 0px 0px 15px;
    background-color: #374735;
}

.prepreview {
    width: 550px;  
    height: 500px;
    top: 60px;
    border-radius: 10px;
    background-color: #c0c2bd;
}

.editor {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
    border-radius: 0px 10px 10px 0px;
    background-color: #465743;
    gap: 5px;
}
.ttlpreview {
    border-radius: 10px 0px 0px 0px;
    height: 90px;
    width: 600px
}
.ttlpreview h1 {
    color: #d6cdc3;

}

.cardseditor {
    height: 250px;
    width: 550px;
    border-radius: 10px;
    background-color: #e7ddd3;

}

.ttlcards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
    height: 45px;
    width: 550px;
    border-radius: 0px 10px 0px 0px;
}

.cards {
    display: flex;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.cards canvas {
    width: 105.88px;
    height: 150px;
    max-width: 105.88px;
    max-height: 150px;
    background-color: #465743;
    border-radius: 5px;
}
.card {

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.cards input {
    width: 120px;
}

.ttlcards h2 {
    color: #374735;

}
.edit {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 600px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.selectcards {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 45px;
    width: 550px;
    border-radius: 10px;
    background-color: #192817;
}
.selectcards h2 {
    color: #e7ddd3;
}
.editop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 255px;
    width: 550px;
    max-width: 600px;
    background-color: #e7ddd3;
    border-radius: 10px;
}
.op {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.opit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d6cdc3;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}
.opit h3 {
    color: #374735;
    font: italic;
}
